@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.home-container {
    min-width: 25%;
    padding: 20px;
    margin-left: 32%;
    margin-right: 32%;
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    align-items: center;
    height: 40px;
    border-radius: 40px;
}

.home-links {
    list-style: none;
    display: flex;
    border-radius: 40px;
    /*background-color: aqua; */
  }

  .appointments-active {
    background-color: white;
  }

  .id-active {
    background-color: white;
  }

  .home-item {
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    border-radius: 20px;
  }

  .home-item:hover {
    color: grey;
  }
